<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Редактирование узла-операции</h1>
    <form method = "POST">
        {% csrf_token %}
        <input type="text" id="idNode" name="idNode" value="" placeholder="ID узла">
        <input type="text" id="operation" name="operation" value="" placeholder="Математическая операция">
        <input type="text" id="index" name="index" value="" placeholder="Индекс дочернего класса">
        <input type="submit" id="button" value="Применить">
    </form>
    <h3>Математические операции:</h3>
    <h5>add - сложение векторов</h5>
    <h5>multi - умножение векторов</h5>
    <h5>len - подсчёт длины вектора</h5>
</body>
</html>